@import url('../css/main.css');
/* Home */

#home h1 {
    margin-bottom: -0.5em;
    color: var(--text);
}

#home p {
    text-align: left;
}

#home img {
    width: 95%
}

/**************************************/
/**************  Desktop  *************/
/**************************************/

@media screen and (min-width: 1200px) {

    body {
      overflow-x: hidden;
    }

    #home {
        width: 100%;
        margin-bottom: 13em;
    }
    #home h1 {
        text-align: left;
        color: var(--text);
    }
    
    #home p {
        text-align: left;
    }
    
    #home img {
        width: 30%;
        margin-bottom: -1.2em;
    }

    #home #game-ground {
        width: 100%;
        position: absolute
    }

    article {
        margin-left: auto;
        margin-right: auto;
    }

    .game {
        width: 100vw;
        height: 15vw;
        margin: auto;
        visibility: hidden;
        display: flex;
        overflow: hidden;
      }
      
      #dino {
        width: 50px;
        height: 50px;
        background-image: url("../img/game/dino-run.gif");
        background-size: 50px 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-self: flex-end;
        margin-left: 5em;
      }
      
      .jump {
        animation: jump 0.5s linear;
      }
      
      @keyframes jump {
        0% {
          top: 0px;
        }

        25% {
          top: -60px;
        }

        50% {
          top: -120px;
        }

        75% {
          top: -60px;
        }
      
        100% {
          top: -0px;
        }
      }
      
      #cactus {
        width: 37.5px;
        height: 60px;
        position: relative;
        align-self: flex-end;
        justify-content: end;
      
        background-image: url("../img/game/cactus.png");
        background-size: 37.5px 60px;
      }

      .animate {
        animation: cactus 2s linear infinite;
      }
      
      @keyframes cactus {
        0% {
          left: 100vw;
        }
      
        100% {
          left: -10vw;
        }
      }
}
