@import url('../fonts/fonts.css');

/**************************************/
/**************  Mobile  **************/
/**************************************/

:root {
    --green: #7eb681;
    --bg: #121212;
    --nav: #1a1a1a;
    --text: #f5fdfb;
}

body {
    font-family: "Garet Book";
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Garet Heavy";
    color: var(--green);
}

strong {
    color: var(--green);
}

.clear {
    clear: both;
}

/* navbar */

.navbar {
    overflow: hidden;
    background-color: var(--nav);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-right, .home {
    visibility: hidden;
}

.nav-left a, .nav-right a {
    color: var(--green);
    font-weight: bold;
}

.nav-left a {
    float: left;
    padding: 0.75em 1em;
    display: block;
    text-decoration: none;
}

.nav-right a {
    padding: 0.75em 0.5em;
    display: inline;
    text-decoration: none;
    float: left;
}

.active {
    color: #7eb681 !important;
}

/* Page content */

.container {
    margin-top: 4em;
    padding-left: 1em;
}

article {
    margin-bottom: 6em;
    padding-top: 2em;
    width: 100%;
}

.container article:nth-child(1){
    padding-top: 0;
}

.button {
    /*padding: 1em 0.5em;
    width: 130px;
    background-color: var(--green);
    text-decoration: none;
    color: #f5fdfb;
    border-radius: 10px;*/

    padding: 1em 0.5em;
    background-color: var(--green);
    text-decoration: none;
    color: #f5fdfb;
    border-radius: 10px;

    width: 130px;
}

.end-text {
    float: right;
    margin-right: 2em;
}

.color-switch {
    background-color: var(--green);
    display:block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    left: 100%;
    bottom: 0px;
    transform: translate(-130%, -40%);
    margin: 0 auto;
}

.color-switch i {
    color: #f2f2f2;
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.right {
    float: right;
    margin: 0 2em;
}


.container {
    margin-top: 6em;
    padding-left: 1em;
}

article {
    margin-bottom: 8.5em;
    padding-top: 2em;
}

/* footer */

footer {
    background-color: var(--nav);
    
    color: var(--text);
    
    font-size: 14px;
    padding-top: 2em;
}

footer h3 {
    font-size: 16px;
}
footer h2{
    position: absolute;
    left: 5em;
}

.logodino img{
    width: 5em;
    height: 5em;
}
footer article h3 {
    text-transform: uppercase;
}
.art1{
    display: flex;
    flex-direction: column;
    padding-left: 2em;

}
footer article{
    margin-bottom: 0;
}




footer a {
    display: flex;
    margin: 1em 0 1em 0;
    text-decoration: none;
    color: var(--text);
}

.copyrights {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    
}
.copyrights p {
    margin-top: 25px;
    margin-bottom: 0;
    padding-left: 2em;
    
}

/**************************************/
/**************  Desktop  *************/
/**************************************/

@media screen and (min-width: 1200px) {
body {
    font-family: "Garet Book";
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--text);
    font-size: 18px;
}
    
h1, h2, h3, h4, h5, h6 {
    font-family: "Garet Heavy";
    color: var(--green);
    font-size: 32px;
}

/* navbar */

.navbar {
    overflow: hidden;
    background-color: var(--nav);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-right, .home {
    visibility: visible;
}

.home {
    margin-left: -3em;
}

.nav-left a {
    float: left;
}

.navbarToggle {
    visibility: hidden;
}

.nav-right a {
    float: right;
}

.nav-left a, .nav-right a {
    padding: 1em;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
}

.navbar a:hover {
    color: #7eb681;
}

.container {
    padding: 16px;
}

.sticky + .container {
    padding-top: 60px;
}



/* Page content */

.container {
    margin-top: 6em;
    padding-left: 1em;
}

article {
    margin-bottom: 8.5em;
    padding-top: 2em;
    width: 70%;
}

.button {
    padding: 1em 0.5em;
    background-color: var(--green);
    text-decoration: none;
    color: #f5fdfb;
    border-radius: 10px;
    width: 130px;
}

.right {
    float: right;
    margin: 0;
}

/* FOOTER */

footer {
    background-color: var(--nav);
    
    color: var(--text);
    
    font-size: 14px;
    padding-top: 2em;
}

footer h3 {
    font-size: 16px;
}
footer h2{
    position: absolute;
    left: 5em;
    font-size: 17px;
}
.logodino img{
    position: absolute;
    left: 0;
}


#styleart1{
    margin-right: 8em;
    
}



.logodino img{
    width: 5em;
    height: 5em;
}
footer article h3 {
    text-transform: uppercase;
}
.art1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 8em;

}
footer article{
    margin-bottom: 0;
}




footer a {
    display: flex;
    margin: 1em 0 1em 0;
    text-decoration: none;
    color: var(--text);
}

.copyrights {
    display: flex;
    justify-content: center;
    align-items:center;
    
}
.copyrights p {
    margin-top: 25px;
    margin-bottom: 0;
    padding-left: 2em;
    
}

}